// Override default variables before the import
$current-website-focal-color: #e9d9be;

$text-color: #4C4066;
$med-purp: #6A508A;
$light-p: #A86F9D;
$orangey: #FCBB90;
// $blueish-color: #909FAC;
$success: #F0938B;
$bg-color: #FFF0BA;


 
// mixins


// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

:root {
    --bs-body-font-family: 'Montserrat', sans-serif;
}

.home-page {
    background: url(../photos/D0ED969A-25BE-4056-869C-56E2B0DA7AB3_1669226162.webp) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.btn {
    color: white;
    &:hover {
        color: white;
    }
}

